@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.desclaimer-parent {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.desclaimer-parent button {
  width: 40%;
}

.desclaimer-parent h1 {
  font-size: 9rem;
  font-family: "Righteous", cursive;
  background-color: #73a9ad;
  padding: 1rem;
  border-radius: 1rem;
}

.desclaimer-parent h3 {
  font-size: 2rem;
  margin-top: 10rem;
  opacity: 0.6;
}
