@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9db2bf;
}
.homepage-parent {
  margin-top: 2rem;
  height: 80vh;
  width: 100vw;
  display: flex;
}

.homepage-parent .left {
  padding: 1rem;
  color: #c4dfdf;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homepage-parent .left h2 {
  font-size: 5rem;
  margin-left: 3rem;
  color: #73a9ad;
  font-family: "Righteous", cursive;
}
.homepage-parent .left h1 {
  margin: 1rem;
  margin-bottom: 7rem;
  font-size: 8rem;
  width: 60%;
  align-self: flex-end;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Martel", serif;
  line-height: 1.2;
}

.homepage-parent .left {
  background-color: #27374d;
  height: 100%;
  width: 50%;
  border-radius: 2rem;
  margin: 2rem;
}

.homepage-parent .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}

.homepage-parent .tokens {
  height: 35rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
}

.homepage-parent .token {
  background-color: #c4dfdf;
  width: 40%;
  border-radius: 2rem;
  margin: 2rem;
}

.homepage-parent .token .token-modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  color: #333;
}

.homepage-parent .token .token-modal h1 {
  font-size: 4rem;
}

.homepage-parent .token-modal .balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.homepage-parent .token-modal .balance h2 {
  font-size: 4rem;
}

.homepage-parent .token-modal .balance h3 {
  font-size: 2rem;
  font-weight: 400;
}

.homepage-parent .swap {
  border-radius: 2rem;
  margin: 2rem;
  height: 15%;
  width: 30%;
  background-color: #73a9ad;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-parent .swap h1 {
  text-align: center;
  color: #222;
  font-size: 3rem;
}

.homepage-parent .swap :hover,
.homepage-parent .token :hover {
  transform: scale(0.9);
  transition: all 0.1s;
}

button:active {
  transform: scale(0.9);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.1s;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.1s;
}

input:hover,
input:focus {
  transform: scale(1.03);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

@media only screen and (max-width: 1054px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }
  .homepage-parent .left h1 {
    align-self: center;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 35%;
  }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 30%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 26%;
  }
}
